.ledger-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-radius: 16px;
}

.nav-container {
  display: flex;
  background: #1b362f;
  padding: 10px;
  border-radius: 16px;
  margin-bottom: 10px;
}

.tab {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 16px;
  cursor: pointer;
  gap: 10px;
}

.tab.active {
  background: #0e1f19;
  box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.7), 
              inset 0px -2px 4px rgba(255, 255, 255, 0.1);
  padding: 15px 0px;
}

.icon, .dollar-icon {
  filter: invert(0.6);
}

.nav-text {
  filter: invert(0.4);
}

.pending-container {
  position: relative;
  display: inline-block;
}

.pending-badge {
  position: absolute;
  top: -8px; 
  right: -25px;
  background: #ff9800;
  color: black;
  font-size: 10px;
  font-weight: bold;
  padding: 2px;
  border-radius: 50%;
  margin-left: 5px;
}