.sidebar {
  position: absolute;
  width: 86px;
  height: 550px;
  top: 111px;
  left: 44px;
  opacity: 0.8;
  background: radial-gradient(circle at center, #002626 0%, #001a1a 50%, #001212 100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
  width: 100%;
}

.sidebar-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 12px 0;
  cursor: pointer;
  background: none;
  border: none;
}

.sidebar-item:hover .sidebar-label,
.sidebar-item:hover .sidebar-icon,
.sidebar-item.active .sidebar-icon {
  color: #24C591;
  filter: brightness(0) saturate(100%) invert(75%) sepia(36%) saturate(416%) 
          hue-rotate(115deg) brightness(96%) contrast(90%);
}

.sidebar-item.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 50%;
  background-color: #2BF5AB;
  box-shadow: 0 0 6px #2BF5AB;
  border-radius: 0 15px 15px 0;
}

.sidebar-icon {
  width: 28px;
  height: 28px;
}

.sidebar-label {
  font-family: "Chakra Petch";
  font-weight: 500;
  font-size: 10px;
  line-height: 11px;
  color: #67807C;
}

.sidebar-item.active .sidebar-label {
  color: #21D38D;
}
